main .container {
  margin: 10px auto;
  padding: 10px 30px;
}
main .container .card.col-lg-12 ul.nav.nav-tabs {
  padding: 0px;
  margin: 0px;
}
main .container .card.col-lg-12 ul.nav.nav-tabs li.nav-item {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
main .container .card.col-lg-12 ul.nav.nav-tabs li.nav-item .nav-tabs .nav-link {
  padding: 10px 10px;
  font-size: .875rem;
  font-weight: 500;
  border: 0;
}
main .container .card.col-lg-12 ul.nav.nav-tabs li.nav-item a.nav-link.active {
  color: rgba(0, 0, 0, 0.87);
  border-color: #4e8910;
}
main .container .container-fluid #createBatch {
  display: no ne;
  margin: 10px auto;
  margin-top: 10px;
  padding: 10px 30px;
}
main .container .container-fluid #createBatch h2 {
  padding: 10px;
  color: #07639d;
  font-size: 20px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .tech {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .tech .btn-group {
  margin: 0px;
  border-radius: 4px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .tech .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .form-inline {
  margin-top: 15px;
  margin-bottom: 0px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .form-inline .radio-inline#id_batchType {
  padding-right: 25px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .form-group.bmd-form-group {
  padding: 0px 0px;
  margin: 0px 0px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepicker,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepicker,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerS,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerS,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerSUpdate,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerSUpdate,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerEUpdate,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerEUpdate,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerE,
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerE {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .time_picker .timepicker {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .teacher {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .teacher .btn-group {
  margin: 0px;
  border-radius: 4px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .row .teacher .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
main .container .container-fluid #createBatch .batchContainer #idcreateBatch #form1 .btn-form1 {
  margin-top: 50px;
}
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepicker,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepicker,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerS,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerS,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerSUpdate,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerSUpdate,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerEUpdate,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerEUpdate,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerE,
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerE {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
}
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .time_picker .timepicker {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
}
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .teacher {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .teacher .btn-group {
  margin: 0px;
  border-radius: 4px;
}
main .container .container-fluid #createBatch .batchContainer #updateBatch #form2 .row .teacher .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
main .container .container-fluid #showBatches {
  display: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 0px;
  padding-bottom: 15px;
}
main .container .container-fluid #showBatches .row .col-lg-6 .nav.nav-tabs {
  padding-left: 15px;
}
main .container .container-fluid #showBatches .row .btn-back {
  padding-top: 15px;
  padding-right: 30px;
  text-align: right;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#regular #regularBatches {
  height: auto;
  max-height: 500px;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#regular #regularBatches .row#batchData {
  border-bottom: 1px solid;
  padding: 0px 0px;
  font-weight: 600;
  margin: 10px 0px;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#regular #regularBatches .row#regularBatchInfo {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#regular #regularBatches .row#regularBatchInfo .row#inline {
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
  padding: 0px 10px;
  width: 100%;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#weekend #weekendBatches {
  height: auto;
  max-height: 500px;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#weekend #weekendBatches .row#batchData {
  border-bottom: 1px solid;
  padding: 0px 0px;
  font-weight: 600;
  margin: 10px 0px;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#weekend #weekendBatches .row#weekendBatchInfo {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
main .container .container-fluid #showBatches .tab-content .tab-pane#weekend #weekendBatches .row#weekendBatchInfo .row#inline {
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
  padding: 0px 10px;
  width: 100%;
}
.crateBatchModel .modal-header {
  padding: 24px 24px 0;
}
.crateBatchModel .modal-body #createBatch #form1 .row .tech {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .tech .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .tech .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .form-inline {
  margin-top: 15px;
  margin-bottom: 0px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .form-inline .radio-inline#id_batchType {
  padding-right: 25px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .form-group.bmd-form-group {
  padding: 0px 0px;
  margin: 0px 0px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerS #datepicker,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerE #datepicker,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerS #datepickerS,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerE #datepickerS,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerS #datepickerSUpdate,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerE #datepickerSUpdate,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerS #datepickerEUpdate,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerE #datepickerEUpdate,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerS #datepickerE,
.crateBatchModel .modal-body #createBatch #form1 .row .date_pickerE #datepickerE {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
  padding-top: 5px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .time_picker .timepicker {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
.crateBatchModel .modal-body #createBatch #form1 .row .teacher {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .teacher .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.crateBatchModel .modal-body #createBatch #form1 .row .teacher .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.crateBatchModel .modal-body #createBatch #form1 .btn-form1 {
  margin-top: 50px;
}
.crateBatchModel .modal-footer {
  padding: 0 24px 24px;
}
.crateUpdateBatchModel .modal-header {
  padding: 24px 24px 0;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-12 .form-group.bmd-form-group {
  padding-top: 10px;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-12 .form-group.bmd-form-group #updateCoursesValue {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-image: none;
  height: 35px;
  padding: 0px 15px;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group {
  padding-top: 10px;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group .date_pickerS #datepickerSUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group .date_pickerE #datepickerSUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group .date_pickerS #datepickerEUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group .date_pickerE #datepickerEUpdate {
  padding: 5px 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group {
  padding-top: 10px;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group .time_picker #batchStartTUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .col-lg-6 .form-group.bmd-form-group .time_picker #batchEndTUpdate {
  padding: 5px 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerS #datepicker,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerE #datepicker,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerS #datepickerS,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerE #datepickerS,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerS #datepickerSUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerE #datepickerSUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerS #datepickerEUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerE #datepickerEUpdate,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerS #datepickerE,
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .date_pickerE #datepickerE {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .time_picker .timepicker {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .teacherUpdate {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .teacherUpdate .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.crateUpdateBatchModel .modal-body #updateBatch #form2 .row .teacherUpdate .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.crateUpdateBatchModel .modal-footer {
  padding: 0 24px 24px;
}
.tab-content {
  padding: 10px;
}
.tab-content #createBatches-tab #createBatch {
  display: no ne;
  margin: 10px auto;
  margin-top: 10px;
  padding: 10px 30px;
  width: 45%;
}
.tab-content #createBatches-tab #createBatch h2 {
  padding: 10px;
  color: #07639d;
  font-size: 20px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .tech {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .tech .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .tech .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .form-inline {
  margin-top: 15px;
  margin-bottom: 0px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .form-inline .radio-inline#id_batchType {
  padding-right: 25px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .form-group.bmd-form-group {
  padding: 0px 0px;
  margin: 0px 0px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepicker,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepicker,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerS,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerS,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerSUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerSUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerEUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerEUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerS #datepickerE,
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .date_pickerE #datepickerE {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .time_picker .timepicker {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .teacher {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .teacher .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .row .teacher .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #idcreateBatch #form1 .btn-form1 {
  margin-top: 50px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepicker,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepicker,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerS,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerS,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerSUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerSUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerEUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerEUpdate,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerS #datepickerE,
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .date_pickerE #datepickerE {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
}
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .time_picker .timepicker {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
}
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .teacher {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .teacher .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.tab-content #createBatches-tab #createBatch .batchContainer #updateBatch #form2 .row .teacher .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.tab-content #showBatches-tab #showBatches {
  display: none;
  margin-bottom: 15px;
  padding: 0px 0px;
  padding-bottom: 15px;
  margin-top: -15px;
}
.tab-content #showBatches-tab #showBatches .row .col-lg-6 .nav.nav-tabs {
  padding-left: 15px;
}
.tab-content #showBatches-tab #showBatches .row .btn-back {
  padding-top: 15px;
  padding-right: 30px;
  text-align: right;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#regular #regularBatches {
  height: auto;
  max-height: 500px;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#regular #regularBatches .row#batchData {
  border-bottom: 1px solid;
  padding: 0px 0px;
  font-weight: 600;
  margin: 10px 0px;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#regular #regularBatches .row#regularBatchInfo {
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#regular #regularBatches .row#regularBatchInfo .row#inline {
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
  padding: 0px 10px;
  width: 100%;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#weekend #weekendBatches {
  height: auto;
  max-height: 500px;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#weekend #weekendBatches .row#batchData {
  border-bottom: 1px solid;
  padding: 0px 0px;
  font-weight: 600;
  margin: 10px 0px;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#weekend #weekendBatches .row#weekendBatchInfo {
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.tab-content #showBatches-tab #showBatches .tab-content .tab-pane#weekend #weekendBatches .row#weekendBatchInfo .row#inline {
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
  padding: 0px 10px;
  width: 100%;
}
.tab-content #showBatches-tab #updateBatch {
  display: none;
  margin: 10px auto;
  margin-top: 10px;
  padding: 10px 30px;
  width: 45%;
}
.tab-content #showBatches-tab #updateBatch h2 {
  padding: 10px;
  color: #07639d;
  font-size: 20px;
}
.tab-content #showBatches-tab #updateBatch #form2 .row .bmd-form-group {
  position: relative;
  padding-top: 0.75rem;
}
.tab-content #showBatches-tab #updateBatch #form2 .row #updateCoursesValue {
  border: 1px solid #aaa;
  background-image: none;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
}
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerS #datepicker,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerE #datepicker,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerS #datepickerS,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerE #datepickerS,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerS #datepickerSUpdate,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerE #datepickerSUpdate,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerS #datepickerEUpdate,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerE #datepickerEUpdate,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerS #datepickerE,
.tab-content #showBatches-tab #updateBatch #form2 .row .date_pickerE #datepickerE {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
.tab-content #showBatches-tab #updateBatch #form2 .row .time_picker .timepicker {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
  background-image: none;
}
.tab-content #showBatches-tab #updateBatch #form2 .row .teacher {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.tab-content #showBatches-tab #updateBatch #form2 .row .teacher .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.tab-content #showBatches-tab #updateBatch #form2 .row .teacher .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.multiselect-container.dropdown-menu {
  width: 100%;
  padding-left: 10px;
}
.multiselect-container.dropdown-menu li a {
  text-decoration: none;
}
.multiselect-container.dropdown-menu li a .checkbox {
  display: block;
}
.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard {
  z-index: 32;
  position: absolute;
  cursor: default;
}
.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard.ui-helper-hidden.ui-timepicker-hidden {
  top: 273.422px;
  left: 404.5px;
  height: 213px;
  width: 225px;
  z-index: auto;
  cursor: default;
  display: none;
}
.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard {
  top: 273.422px;
  left: 404.5px;
  height: 213px;
  width: 225px;
  z-index: auto;
  cursor: default;
  color: red;
}
.ui-timepicker.ui-widget.ui-widget-content.ui-menu.ui-corner-all {
  position: absolute;
  z-index: 5;
}
.ui-timepicker-standard {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
  background-color: #FFF;
  border: none;
  color: #222;
  margin: 0;
  padding: 2px;
  z-index: 5;
}
i#srNm {
  padding-left: 5px;
}
i#srDt {
  padding-left: 5px;
}
i#srPe {
  padding-left: 5px;
}
i#srNmAcs {
  padding-left: 5px;
}
i#srNmDec {
  padding-left: 5px;
}
i#srDtAcs {
  padding-left: 15px;
}
i#srDtDec {
  padding-left: 15px;
}
i#srDtWeekendAcs {
  padding-left: 18px;
}
i#srDtWeekendDec {
  padding-left: 15px;
}
.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard {
  z-index: 5;
}
