main {
    .container {
        margin: 10px auto;
        padding: 10px 30px;
        .card.col-lg-12 {
            ul.nav.nav-tabs {
                padding: 0px;
                margin: 0px;
                li.nav-item {
                    padding: 0px;
                    margin: 0px;
                    text-align: center;
                    .nav-tabs .nav-link {
                        padding: 10px 10px;
                        font-size: .875rem;
                        font-weight: 500;
                        border: 0;
                    }
                    a.nav-link {}
                    a.nav-link.active {
                        color: rgba(0, 0, 0, .87);
                        border-color: #4e8910;
                    }
                }
            }
        }
    }
    .container {
        .container-fluid {
            #createBatch {
                display: no ne;
                margin: 10px auto;
                margin-top: 10px;
                padding: 10px 30px;
                h2 {
                    padding: 10px;
                    color: #07639d;
                    font-size: 20px;
                }
                .batchContainer {
                    #idcreateBatch {
                        #form1 {
                            .row {
                                .tech {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 20px;
                                    .btn-group {
                                        margin: 0px;
                                        border-radius: 4px;
                                    }
                                    .multiselect.dropdown-toggle.btn.btn-default {
                                        margin: 0px;
                                    }
                                }
                                .form-inline {
                                    margin-top: 15px;
                                    margin-bottom: 0px;
                                    .radio-inline#id_batchType {
                                        padding-right: 25px;
                                    }
                                }
                                .form-group.bmd-form-group {
                                    padding: 0px 0px;
                                    margin: 0px 0px;
                                }
                                .date_pickerS,
                                .date_pickerE {
                                    #datepicker,
                                    #datepickerS,
                                    #datepickerSUpdate,
                                    #datepickerEUpdate,
                                    #datepickerE {
                                        padding: 0px;
                                        border: 1px solid #aaa;
                                        background-color: #fff;
                                        border-radius: 4px;
                                        margin-top: 10px;
                                        height: 35px;
                                        width: 100%;
                                        text-align: center;
                                        background-image: none;
                                    }
                                }
                                .time_picker {
                                    .timepicker {
                                        padding: 0px;
                                        border: 1px solid #aaa;
                                        background-color: #fff;
                                        border-radius: 4px;
                                        margin-top: 20px;
                                        height: 35px;
                                        width: 100%;
                                        text-align: center;
                                        background-image: none;
                                    }
                                }
                                .teacher {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 20px;
                                    .btn-group {
                                        margin: 0px;
                                        border-radius: 4px;
                                    }
                                    .multiselect.dropdown-toggle.btn.btn-default {
                                        margin: 0px;
                                    }
                                }
                            }
                            .btn-form1 {
                                margin-top: 50px;
                            }
                        }
                    }
                    #updateBatch {
                        #form2 {
                            .row {
                                .date_pickerS,
                                .date_pickerE {
                                    #datepicker,
                                    #datepickerS,
                                    #datepickerSUpdate,
                                    #datepickerEUpdate,
                                    #datepickerE {
                                        padding: 0px;
                                        border: 1px solid #aaa;
                                        background-color: #fff;
                                        border-radius: 4px;
                                        margin-top: 10px;
                                        height: 35px;
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                                .time_picker {
                                    .timepicker {
                                        padding: 0px;
                                        border: 1px solid #aaa;
                                        background-color: #fff;
                                        border-radius: 4px;
                                        margin-top: 20px;
                                        height: 35px;
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                                .teacher {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 20px;
                                    .btn-group {
                                        margin: 0px;
                                        border-radius: 4px;
                                    }
                                    .multiselect.dropdown-toggle.btn.btn-default {
                                        margin: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #showBatches {
                display: none;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 0px 0px;
                padding-bottom: 15px;
                .row {
                    .col-lg-6 {
                        .nav.nav-tabs {
                            padding-left: 15px;
                        }
                    }
                    .btn-back {
                        padding-top: 15px;
                        padding-right: 30px;
                        text-align: right;
                    }
                }
                .tab-content {
                    .tab-pane#regular {
                        #regularBatches {
                            height: auto;
                            max-height: 500px;
                            .row#batchData {
                                border-bottom: 1px solid;
                                padding: 0px 0px;
                                font-weight: 600;
                                margin: 10px 0px;
                            }
                            .row#regularBatchInfo {
                                height: auto;
                                max-height: 400px;
                                overflow-y: auto;
                                width: 100%;
                                text-align: left;
                                padding: 0px;
                                margin: 0px;
                                flex-wrap: wrap;
                                overflow-x: hidden;
                                .row#inline {
                                    border-bottom: 1px solid #aaa;
                                    margin-bottom: 5px;
                                    padding: 0px 10px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .tab-pane#weekend {
                        #weekendBatches {
                            height: auto;
                            max-height: 500px;
                            .row#batchData {
                                border-bottom: 1px solid;
                                padding: 0px 0px;
                                font-weight: 600;
                                margin: 10px 0px;
                            }
                            .row#weekendBatchInfo {
                                height: auto;
                                max-height: 400px;
                                overflow-y: auto;
                                width: 100%;
                                text-align: left;
                                padding: 0px;
                                margin: 0px;
                                flex-wrap: wrap;
                                overflow-x: hidden;
                                .row#inline {
                                    border-bottom: 1px solid #aaa;
                                    margin-bottom: 5px;
                                    padding: 0px 10px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.crateBatchModel {
    .modal-header {
        padding: 24px 24px 0;
    }
    .modal-body {
        #createBatch {
            #form1 {
                .row {
                    .tech {
                        padding: 0px;
                        border: 1px solid #aaa;
                        background-color: #fff;
                        border-radius: 4px;
                        margin-top: 20px;
                        .btn-group {
                            margin: 0px;
                            border-radius: 4px;
                        }
                        .multiselect.dropdown-toggle.btn.btn-default {
                            margin: 0px;
                        }
                    }
                    .form-inline {
                        margin-top: 15px;
                        margin-bottom: 0px;
                        .radio-inline#id_batchType {
                            padding-right: 25px;
                        }
                    }
                    .form-group.bmd-form-group {
                        padding: 0px 0px;
                        margin: 0px 0px;
                    }
                    .date_pickerS,
                    .date_pickerE {
                        #datepicker,
                        #datepickerS,
                        #datepickerSUpdate,
                        #datepickerEUpdate,
                        #datepickerE {
                            padding: 0px;
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            margin-top: 10px;
                            height: 35px;
                            width: 100%;
                            text-align: center;
                            background-image: none;
                            padding-top: 5px;
                        }
                    }
                    .time_picker {
                        .timepicker {
                            padding: 0px;
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            margin-top: 20px;
                            height: 35px;
                            width: 100%;
                            text-align: center;
                            background-image: none;
                        }
                    }
                    .teacher {
                        padding: 0px;
                        border: 1px solid #aaa;
                        background-color: #fff;
                        border-radius: 4px;
                        margin-top: 20px;
                        .btn-group {
                            margin: 0px;
                            border-radius: 4px;
                        }
                        .multiselect.dropdown-toggle.btn.btn-default {
                            margin: 0px;
                        }
                    }
                }
                .btn-form1 {
                    margin-top: 50px;
                }
            }
        }
    }
    .modal-footer {
        padding: 0 24px 24px;
    }
}

.crateUpdateBatchModel {
    .modal-header {
        padding: 24px 24px 0;
    }
    .modal-body {
        #updateBatch {
            #form2 {
                .row {
                    .col-lg-12 {
                        .form-group.bmd-form-group {
                            padding-top: 10px;
                            #updateCoursesValue {
                                border: 1px solid #aaa;
                                border-radius: 4px;
                                background-image: none;
                                height: 35px;
                                padding: 0px 15px;
                            }
                        }
                    }
                    .col-lg-6 {
                        .form-group.bmd-form-group {
                            padding-top: 10px;
                            .date_pickerS,
                            .date_pickerE {
                                #datepickerSUpdate,
                                #datepickerEUpdate {
                                    padding: 5px 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 10px;
                                    height: 35px;
                                    width: 100%;
                                    text-align: center;
                                    background-image: none;
                                }
                            }
                        }
                    }
                    .col-lg-6 {
                        .form-group.bmd-form-group {
                            padding-top: 10px;
                            .time_picker {
                                #batchStartTUpdate,
                                #batchEndTUpdate {
                                    padding: 5px 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 10px;
                                    height: 35px;
                                    width: 100%;
                                    text-align: center;
                                    background-image: none;
                                }
                            }
                        }
                    }
                    .date_pickerS,
                    .date_pickerE {
                        #datepicker,
                        #datepickerS,
                        #datepickerSUpdate,
                        #datepickerEUpdate,
                        #datepickerE {
                            padding: 0px;
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            margin-top: 10px;
                            height: 35px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .time_picker {
                        .timepicker {
                            padding: 0px;
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            margin-top: 20px;
                            height: 35px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .teacherUpdate {
                        padding: 0px;
                        border: 1px solid #aaa;
                        background-color: #fff;
                        border-radius: 4px;
                        margin-top: 20px;
                        .btn-group {
                            margin: 0px;
                            border-radius: 4px;
                        }
                        .multiselect.dropdown-toggle.btn.btn-default {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    .modal-footer {
        padding: 0 24px 24px;
    }
}

.tab-content {
    padding: 10px;
    #createBatches-tab {
        #createBatch {
            display: no ne;
            margin: 10px auto;
            margin-top: 10px;
            padding: 10px 30px;
            width: 45%;
            h2 {
                padding: 10px;
                color: #07639d;
                font-size: 20px;
            }
            .batchContainer {
                #idcreateBatch {
                    #form1 {
                        .row {
                            .tech {
                                padding: 0px;
                                border: 1px solid #aaa;
                                background-color: #fff;
                                border-radius: 4px;
                                margin-top: 20px;
                                .btn-group {
                                    margin: 0px;
                                    border-radius: 4px;
                                }
                                .multiselect.dropdown-toggle.btn.btn-default {
                                    margin: 0px;
                                }
                            }
                            .form-inline {
                                margin-top: 15px;
                                margin-bottom: 0px;
                                .radio-inline#id_batchType {
                                    padding-right: 25px;
                                }
                            }
                            .form-group.bmd-form-group {
                                padding: 0px 0px;
                                margin: 0px 0px;
                            }
                            .date_pickerS,
                            .date_pickerE {
                                #datepicker,
                                #datepickerS,
                                #datepickerSUpdate,
                                #datepickerEUpdate,
                                #datepickerE {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 10px;
                                    height: 35px;
                                    width: 100%;
                                    text-align: center;
                                    background-image: none;
                                }
                            }
                            .time_picker {
                                .timepicker {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 20px;
                                    height: 35px;
                                    width: 100%;
                                    text-align: center;
                                    background-image: none;
                                }
                            }
                            .teacher {
                                padding: 0px;
                                border: 1px solid #aaa;
                                background-color: #fff;
                                border-radius: 4px;
                                margin-top: 20px;
                                .btn-group {
                                    margin: 0px;
                                    border-radius: 4px;
                                }
                                .multiselect.dropdown-toggle.btn.btn-default {
                                    margin: 0px;
                                }
                            }
                        }
                        .btn-form1 {
                            margin-top: 50px;
                        }
                    }
                }
                #updateBatch {
                    #form2 {
                        .row {
                            .date_pickerS,
                            .date_pickerE {
                                #datepicker,
                                #datepickerS,
                                #datepickerSUpdate,
                                #datepickerEUpdate,
                                #datepickerE {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 10px;
                                    height: 35px;
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                            .time_picker {
                                .timepicker {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    margin-top: 20px;
                                    height: 35px;
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                            .teacher {
                                padding: 0px;
                                border: 1px solid #aaa;
                                background-color: #fff;
                                border-radius: 4px;
                                margin-top: 20px;
                                .btn-group {
                                    margin: 0px;
                                    border-radius: 4px;
                                }
                                .multiselect.dropdown-toggle.btn.btn-default {
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #showBatches-tab {
        #showBatches {
            display: none; // margin-top: 15px;
            margin-bottom: 15px;
            padding: 0px 0px;
            padding-bottom: 15px;
            margin-top: -15px;
            .row {
                .col-lg-6 {
                    .nav.nav-tabs {
                        padding-left: 15px;
                    }
                }
                .btn-back {
                    padding-top: 15px;
                    padding-right: 30px;
                    text-align: right;
                }
            }
            .tab-content {
                .tab-pane#regular {
                    #regularBatches {
                        height: auto;
                        max-height: 500px;
                        .row#batchData {
                            border-bottom: 1px solid;
                            padding: 0px 0px;
                            font-weight: 600;
                            margin: 10px 0px;
                        }
                        .row#regularBatchInfo {
                            height: auto;
                            max-height: 300px;
                            overflow-y: auto;
                            width: 100%;
                            text-align: left;
                            padding: 0px;
                            margin: 0px;
                            flex-wrap: wrap;
                            overflow-x: hidden;
                            .row#inline {
                                border-bottom: 1px solid #aaa;
                                margin-bottom: 5px;
                                padding: 0px 10px;
                                width: 100%;
                            }
                        }
                    }
                }
                .tab-pane#weekend {
                    #weekendBatches {
                        height: auto;
                        max-height: 500px;
                        .row#batchData {
                            border-bottom: 1px solid;
                            padding: 0px 0px;
                            font-weight: 600;
                            margin: 10px 0px;
                        }
                        .row#weekendBatchInfo {
                            height: auto;
                            max-height: 300px;
                            overflow-y: auto;
                            width: 100%;
                            text-align: left;
                            padding: 0px;
                            margin: 0px;
                            flex-wrap: wrap;
                            overflow-x: hidden;
                            .row#inline {
                                border-bottom: 1px solid #aaa;
                                margin-bottom: 5px;
                                padding: 0px 10px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #updateBatch {
            display: none;
            margin: 10px auto;
            margin-top: 10px;
            padding: 10px 30px;
            width: 45%;
            h2 {
                padding: 10px;
                color: #07639d;
                font-size: 20px;
            }
            #form2 {
                .row {
                    .bmd-form-group {
                        position: relative;
                        padding-top: 0.75rem;
                    }
                    #updateCoursesValue {
                        border: 1px solid #aaa;
                        background-image: none;
                        border-radius: 4px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    .datepickerSUpdate {}
                    .date_pickerS,
                    .date_pickerE {
                        #datepicker,
                        #datepickerS,
                        #datepickerSUpdate,
                        #datepickerEUpdate,
                        #datepickerE {
                            padding: 0px;
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            margin-top: 10px;
                            height: 35px;
                            width: 100%;
                            text-align: center;
                            background-image: none;
                        }
                    }
                    .time_picker {
                        .timepicker {
                            padding: 0px;
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            margin-top: 20px;
                            height: 35px;
                            width: 100%;
                            text-align: center;
                            background-image: none;
                        }
                    }
                    .teacher {
                        padding: 0px;
                        border: 1px solid #aaa;
                        background-color: #fff;
                        border-radius: 4px;
                        margin-top: 20px;
                        .btn-group {
                            margin: 0px;
                            border-radius: 4px;
                        }
                        .multiselect.dropdown-toggle.btn.btn-default {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
}

.multiselect-container.dropdown-menu {
    width: 100%;
    padding-left: 10px;
    li {
        a {
            text-decoration: none;
            .checkbox {
                display: block;
            }
        }
    }
}

.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard {
    z-index: 32;
    position: absolute;
    cursor: default;
}

.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard.ui-helper-hidden.ui-timepicker-hidden {
    top: 273.422px;
    left: 404.5px;
    height: 213px;
    width: 225px;
    z-index: auto;
    cursor: default;
    display: none;
}

.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard {
    top: 273.422px;
    left: 404.5px;
    height: 213px;
    width: 225px;
    z-index: auto;
    cursor: default;
    color: red;
}

.ui-timepicker.ui-widget.ui-widget-content.ui-menu.ui-corner-all {
    position: absolute;
    z-index: 5;
}

.ui-timepicker-standard {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    background-color: #FFF;
    border: none;
    color: #222;
    margin: 0;
    padding: 2px;
    z-index: 5
}

i#srNm {
    padding-left: 5px;
}

i#srDt {
    padding-left: 5px;
}

i#srPe {
    padding-left: 5px;
}

i#srNmAcs {
    padding-left: 5px;
}

i#srNmDec {
    padding-left: 5px;
}

i#srDtAcs {
    padding-left: 15px;
}

i#srDtDec {
    padding-left: 15px;
}

i#srDtWeekendAcs {
    padding-left: 18px;
}

i#srDtWeekendDec {
    padding-left: 15px;
}

.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard {
    z-index: 5;
}