.enrollContainer .enquiryCard .card {
  margin: 10px auto;
  padding: 10px 30px;
}
.enrollContainer .enquiryCard .card h2 {
  text-align: center;
  color: #07639d;
  font-size: 20px;
}
.enrollContainer .enquiryCard ul.nav.nav-tabs {
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}
.enrollContainer .enquiryCard ul.nav.nav-tabs li.nav-item {
  padding: 0px;
  margin: 0px;
  width: 50%;
  text-align: center;
}
.enrollContainer .enquiryCard ul.nav.nav-tabs li.nav-item .nav-tabs .nav-link {
  padding: 10px 10px;
  font-size: .875rem;
  font-weight: 500;
  border: 0;
}
.enrollContainer .enquiryCard ul.nav.nav-tabs li.nav-item a.nav-link {
  padding: 10px 0px;
  margin: 0 auto;
}
.enrollContainer .enquiryCard ul.nav.nav-tabs li.nav-item a.nav-link.active {
  color: rgba(0, 0, 0, 0.87);
  border-color: #4e8910;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .name_class {
  width: 100%;
  margin: 0 auto;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .name_class .form-group .form-control {
  width: 95%;
  background-image: none;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .name_class .form-group .form-control:focus {
  background-color: none;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .name_class .form-group .enterFeesType .radio-inline {
  margin-right: 5px;
  margin-left: 10px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .form-inline {
  margin-top: 20px;
  margin-bottom: 0px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .form-inline .radio-inline {
  margin-right: 40px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .form-inline .radio-inline #inlineRadio1 {
  margin-left: 10px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .form-group {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .form-group .form-control {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
  background-image: none;
  margin-top: 20px;
  font-size: 16px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .form-group .tech .multiselect-container.dropdown-menu {
  width: 100%;
  padding-left: 10px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 .btn.btn-primary.btn-raised {
  margin-top: 15px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form1 #sendEnqBtn {
  margin-top: 25px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm .row {
  margin: 0 auto;
  padding: 0px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm .col-lg-5 {
  padding: 0px;
  margin: 0px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm .col-lg-5 .form-group.bmd-form-group {
  padding: 0px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm .col-lg-5 .form-group.bmd-form-group .easy-autocomplete {
  width: 100%;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm .col-lg-5 .form-group.bmd-form-group .easy-autocomplete #searchCodekulID,
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm .col-lg-5 .form-group.bmd-form-group .easy-autocomplete #searchName {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  width: 190px;
  margin: 0 auto;
  background-image: none;
  margin-top: 0px;
  font-size: 16px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline.exuserForm .col-lg-2 #or {
  background-image: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 hr {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  border: 0;
  border-top: 2px solid #009688;
  height: 6px;
  font-weight: 600;
  margin-left: -30px;
  margin-right: -30px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .name_id {
  padding: 0px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .name_id .col-lg-6 p {
  text-align: left;
  font-size: 1.2rem;
  color: #483fb5;
  margin-bottom: 1rem;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .name_id .col-lg-6 p label {
  margin-bottom: 0rem;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-group .form-control {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  background-image: none;
  margin-top: 0px;
  font-size: 16px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-group .exCourse .multiselect-container.dropdown-menu {
  width: 100%;
  padding-left: 10px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline {
  margin-top: 15px;
  margin-bottom: 0px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline .radio-inline {
  margin-right: 25px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 .form-inline .radio-inline #inlineRadio1 {
  margin-left: 10px;
}
.enrollContainer .enquiryCard .tab-content .tab-pane #form2 #sendEnqBtn {
  margin-top: 25px;
}
.errorMessage {
  height: 20px;
  font-size: 12px;
}
form {
  padding-bottom: 0px;
}
form .bmd-form-group {
  position: relative;
  padding-top: 0.75rem;
}
.form-control {
  background-image: none;
}
.bmd-form-group .bmd-help {
  margin-top: 0;
  font-size: .75rem;
  color: red;
}
.bmd-form-group .is-focused .bmd-help {
  margin-top: 0;
  font-size: .75rem;
  color: red;
}
.tech {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.tech .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.tech .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.exCourse {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.exCourse .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.exCourse .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
#id_fees {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
}
#idPaymentDtl {
  display: none;
  width: 95%;
  background-image: none;
  margin-top: 20px;
  margin: 0 auto;
  float: right;
}
#idPaymentDtlEx {
  display: none;
  width: 95%;
  background-image: none;
  margin-top: 20px;
  margin: 0 auto;
  float: right;
}
#provider-remote {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
  width: 200px;
  background-image: none;
  margin-top: 0px;
  font-size: 16px;
}
.easy-autocomplete {
  width: 100%;
}
.bmd-help.errorMessage {
  color: black !important;
}
