.enrollContainer {
    .enquiryCard {
        .card {
            margin: 10px auto;
            padding: 10px 30px;
            h2 {
                text-align: center;
                color: #07639d;
                font-size: 20px;
            }
        }
        ul.nav.nav-tabs {
            padding: 0px;
            margin: 0 auto;
            text-align: center;
            li.nav-item {
                padding: 0px;
                margin: 0px;
                width: 50%;
                text-align: center;
                .nav-tabs .nav-link {
                    padding: 10px 10px;
                    font-size: .875rem;
                    font-weight: 500;
                    border: 0;
                }
                a.nav-link {
                    padding: 10px 0px;
                    margin: 0 auto;
                }
                a.nav-link.active {
                    color: rgba(0, 0, 0, .87);
                    border-color: #4e8910;
                }
            }
        }
        .tab-content {
            .tab-pane {
                #form1 {
                    .name_class {
                        width: 100%;
                        margin: 0 auto;
                        .form-group {
                            .form-control {
                                width: 95%;
                                background-image: none;
                            }
                            .form-control:focus {
                                background-color: none;
                            }
                            .enterFeesType {
                                .radio-inline {
                                    margin-right: 5px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    .form-inline {
                        margin-top: 20px;
                        margin-bottom: 0px;
                        .radio-inline {
                            margin-right: 40px;
                            #inlineRadio1 {
                                margin-left: 10px;
                            }
                        }
                    }
                    .form-group {
                        width: 100%; // border: 1px solid;
                        padding: 0px;
                        margin: 0px;
                        .form-control {
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            padding-left: 15px;
                            height: 35px;
                            background-image: none;
                            margin-top: 20px;
                            font-size: 16px;
                        }
                        .tech {
                            .multiselect-container.dropdown-menu {
                                width: 100%;
                                padding-left: 10px;
                            }
                        }
                    }
                    .btn.btn-primary.btn-raised {
                        margin-top: 15px;
                    }
                    #sendEnqBtn {
                        margin-top: 25px;
                    }
                }
                #form2 {
                    // margin-top: 15px;
                    .form-inline.exuserForm {
                        width: 100%;
                        margin: 0 auto;
                        margin-top: 40px;
                        .row {
                            margin: 0 auto;
                            padding: 0px;
                        }
                        .col-lg-5 {
                            padding: 0px;
                            margin: 0px;
                            .form-group.bmd-form-group {
                                padding: 0px;
                                .easy-autocomplete {
                                    width: 100%;
                                    #searchCodekulID,
                                    #searchName {
                                        border: 1px solid #aaa;
                                        background-color: #fff;
                                        border-radius: 4px;
                                        padding-left: 15px;
                                        padding-right: 15px;
                                        height: 35px;
                                        width: 190px;
                                        margin: 0 auto;
                                        background-image: none;
                                        margin-top: 0px;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        .col-lg-2 {
                            #or {
                                background-image: none;
                                margin: 0 auto;
                                text-align: center;
                                padding-top: 5px;
                            }
                        }
                    }
                    hr {
                        margin-top: 1.5rem;
                        margin-bottom: .5rem;
                        border: 0;
                        border-top: 2px solid rgb(0, 150, 136);
                        height: 6px;
                        font-weight: 600;
                        margin-left: -30px;
                        margin-right: -30px;
                    }
                    .name_id {
                        padding: 0px;
                        .col-lg-6 {
                            p {
                                text-align: left;
                                font-size: 1.2rem;
                                color: #483fb5;
                                margin-bottom: 1rem;
                                label {
                                    margin-bottom: 0rem; // text-align: left;
                                    // font-size: 1rem;
                                    // color: #483fb5;
                                    // margin-bottom: 0.5rem;
                                }
                            }
                        }
                    }
                    .form-group {
                        .form-control {
                            border: 1px solid #aaa;
                            background-color: #fff;
                            border-radius: 4px;
                            padding-left: 15px;
                            height: 35px;
                            width: 100%;
                            background-image: none;
                            margin-top: 0px;
                            font-size: 16px;
                        }
                        .exCourse {
                            .multiselect-container.dropdown-menu {
                                width: 100%;
                                padding-left: 10px;
                            }
                        }
                    }
                    .form-inline {
                        margin-top: 15px;
                        margin-bottom: 0px;
                        .radio-inline {
                            margin-right: 25px;
                            #inlineRadio1 {
                                margin-left: 10px;
                            }
                        }
                    }
                    #sendEnqBtn {
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}

.errorMessage {
    height: 20px;
    font-size: 12px;
}

form {
    padding-bottom: 0px;
    .bmd-form-group {
        position: relative;
        padding-top: 0.75rem;
    }
}

.form-control {
    background-image: none;
}

.bmd-form-group .bmd-help {
    margin-top: 0;
    font-size: .75rem;
    color: red;
}

.bmd-form-group .is-focused .bmd-help {
    margin-top: 0;
    font-size: .75rem;
    color: red;
}

.tech {
    padding: 0px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    .btn-group {
        margin: 0px;
        border-radius: 4px;
    }
    .multiselect.dropdown-toggle.btn.btn-default {
        margin: 0px;
    }
}

.exCourse {
    padding: 0px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    .btn-group {
        margin: 0px;
        border-radius: 4px;
    }
    .multiselect.dropdown-toggle.btn.btn-default {
        margin: 0px;
    }
}

#id_fees {
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 15px;
    height: 35px;
}

#idPaymentDtl {
    display: none;
    width: 95%;
    background-image: none;
    margin-top: 20px;
    margin: 0 auto;
    float: right;
}

#idPaymentDtlEx {
    display: none;
    width: 95%;
    background-image: none;
    margin-top: 20px;
    margin: 0 auto;
    float: right;
}

#provider-remote {
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 15px;
    height: 35px;
    width: 200px;
    background-image: none;
    margin-top: 0px;
    font-size: 16px;
}

.easy-autocomplete {
    width: 100%;
}

// .bmd-help.errorMessage#errorExFee {
//     color: blue !important;
// }
.bmd-help.errorMessage {
    color: black !important;
}