i#srNm {
  padding-left: 5px;
}
i#srDt {
  padding-left: 5px;
}
i#srPe {
  padding-left: 5px;
}
.search-container .card.container.header-search {
  margin: 10px auto;
  padding: 10px;
}
.search-container .card.container.header-search .form-inline {
  margin-bottom: 0rem;
}
.search-container .card.container.header-search .form-inline .form-group {
  margin: 0 auto;
  padding: 10px 5px;
}
.search-container .card.container.header-search .form-inline .form-group .form-control#searchCodekulID {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  width: 100%;
  background-image: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: black;
}
.search-container .card.container.header-search .form-inline .form-group .form-control#searchName {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  width: 100%;
  background-image: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: black;
}
.search-container .card.container.header-search .form-inline .form-group .form-control:focus {
  background-color: none;
}
.search-container .card.container.header-search .form-inline .form-group #btnGo {
  margin-top: 0px;
  margin-left: 25px;
}
.search-container .card.container.header-search .form-inline .form-group #btnPainding {
  margin-top: 0px;
  margin-left: 25px;
}
.search-container .card.container.header-search .form-inline .form-group label {
  font-size: 16px;
  font-weight: 600;
}
.search-container .card.container.header-search .form-inline #or {
  width: 5%;
  background-image: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}
.search-container .card.container#goSearch {
  padding-bottom: 0px;
  margin: 0 auto;
  margin-top: 10px;
}
.search-container .card.container.pending_table#pendingTbl {
  padding-bottom: 0px;
  margin: 0 auto;
  margin-top: 10px;
}
.model_feesUpdate .modal-content .modal-header .close {
  border: 1px solid black;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.model_feesUpdate .modal-content .modal-header .close:focus,
.model_feesUpdate .modal-content .modal-header .close:hover {
  color: #d50000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
.model_feesUpdate .modal-content .modal-header .container-fluid .row .col-lg-6 .p #studName,
.model_feesUpdate .modal-content .modal-header .container-fluid .row .col-lg-6 .p #userId {
  text-align: center;
  color: green;
  font-size: 1rem;
}
.model_feesUpdate .modal-content .modal-body {
  padding: 20px 24px 5px;
}
.model_feesUpdate .modal-content .modal-body #formPayFee .form-inline label.radio-inline {
  line-height: 1.5;
  padding-left: 30px;
  margin-right: 50px;
  color: black;
}
.model_feesUpdate .modal-content .modal-body #formPayFee .form-group .form-control {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}
.model_feesUpdate .modal-content .modal-footer {
  padding: 0px 20px 15px;
}
.model_feesUpdate .modal-content .modal-footer #sendFeesUpdate {
  width: 25%;
  margin-right: 15px;
}
.tblHeader {
  border-bottom: 1px solid #aaa;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
#TotalPendingFees,
#TotalCoursesFees,
#TotalPaidFees,
#FinalCoursesFees {
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-weight: 500;
  letter-spacing: 1px;
}
#finalFeesUpdate {
  top: 5px;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.p_details {
  font-size: 21px;
  color: #483fb5;
}
#fullname {
  color: green;
  font-size: 20px;
}
#fullId {
  color: green;
  font-size: 20px;
}
#form2 {
  margin-top: 15px;
}
#form2 .exuserForm {
  width: 100%;
  margin: 0 auto;
}
#form2 .exuserForm .col-lg-5.form-group {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#form2 .exuserForm .col-lg-5.form-group #searchCodekulID {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  background-image: none;
  margin-top: 0px;
  font-size: 16px;
}
#form2 .exuserForm .col-lg-5.form-group .form-control:focus {
  background-color: none;
}
#form2 .exuserForm .col-lg-5.form-group #searchName {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  background-image: none;
  margin-top: 0px;
  font-size: 16px;
}
#form2 .exuserForm #or {
  width: 10%;
  background-image: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}
#form2 .form-group .form-control {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  background-image: none;
  margin-top: 0px;
  font-size: 16px;
}
#form2 .form-group .exCourse .multiselect-container.dropdown-menu {
  width: 100%;
  padding-left: 10px;
}
#form2 #sendPaidFees {
  margin-top: 25px;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2147483647;
  padding-top: 35px;
  background-color: rgba(9, 9, 9, 0.7);
  margin-top: 25px;
}
.modal-backdrop.in {
  opacity: .26;
  z-index: -1;
}
.model_feesDetails .close:focus,
.model_feesDetails .close:hover {
  color: #d50000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
