i#srNm {
    padding-left: 5px;
}

i#srDt {
    padding-left: 5px;
}

i#srPe {
    padding-left: 5px;
}

.search-container {
    .card.container.header-search {
        margin: 10px auto;
        padding: 10px;
        .form-inline {
            margin-bottom: 0rem;
            .form-group {
                margin: 0 auto;
                padding: 10px 5px;
                .form-control#searchCodekulID {
                    border: 1px solid #aaa;
                    background-color: #fff;
                    border-radius: 4px;
                    padding-left: 15px;
                    padding-right: 15px;
                    height: 35px;
                    width: 100%;
                    background-image: none;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-size: 16px;
                    color: black;
                }
                .form-control#searchName {
                    border: 1px solid #aaa;
                    background-color: #fff;
                    border-radius: 4px;
                    padding-left: 15px;
                    padding-right: 15px;
                    height: 35px;
                    width: 100%;
                    background-image: none;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-size: 16px;
                    color: black;
                }
                .form-control:focus {
                    background-color: none;
                }
                #btnGo {
                    margin-top: 0px;
                    margin-left: 25px;
                }
                #btnPainding {
                    margin-top: 0px;
                    margin-left: 25px;
                }
                label {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            #or {
                width: 5%;
                background-image: none;
                margin: 0 auto;
                text-align: center;
                padding-top: 10px;
            }
        }
    }
    .card.container#goSearch {
        padding-bottom: 0px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .card.container.pending_table#pendingTbl {
        padding-bottom: 0px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

.model_feesUpdate {
    .modal-content {
        .modal-header {
            .close {
                border: 1px solid black;
                border-radius: 100%;
                height: 30px;
                width: 30px;
            }
            .close:focus,
            .close:hover {
                color: #d50000;
                text-decoration: none;
                cursor: pointer;
                opacity: 1;
            }
            .container-fluid {
                .row {
                    .col-lg-6 {
                        .p {
                            #studName,
                            #userId {
                                text-align: center;
                                color: green;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .modal-body {
            padding: 20px 24px 5px;
            #formPayFee {
                .form-inline {
                    label.radio-inline {
                        line-height: 1.5;
                        padding-left: 30px;
                        margin-right: 50px;
                        color: black;
                    }
                }
                .form-group {
                    .form-control {
                        border: 1px solid #aaa;
                        border-radius: 4px;
                        background-image: none;
                        padding-left: 10px;
                        padding-right: 10px;
                        color: black;
                    }
                }
            }
        }
        .modal-footer {
            padding: 0px 20px 15px;
            #sendFeesUpdate {
                width: 25%;
                margin-right: 15px;
            }
        }
    }
}

.tblHeader {
    border-bottom: 1px solid #aaa;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

#TotalPendingFees,
#TotalCoursesFees,
#TotalPaidFees,
#FinalCoursesFees {
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: 500;
    letter-spacing: 1px;
}

//  .exuserForm {
#finalFeesUpdate {
    font-weight: 500;
    top: 5px;
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.p_details {
    font-size: 21px;
    color: #483fb5;
}

#fullname {
    color: green;
    font-size: 20px;
}

#fullId {
    color: green;
    font-size: 20px;
}

#form2 {
    margin-top: 15px;
    .exuserForm {
        width: 100%;
        margin: 0 auto;
        .col-lg-5.form-group {
            width: 100%; // border: 1px solid;
            padding: 0px;
            margin: 0px;
            #searchCodekulID {
                border: 1px solid #aaa;
                background-color: #fff;
                border-radius: 4px;
                padding-left: 15px;
                height: 35px;
                width: 100%;
                background-image: none;
                margin-top: 0px;
                font-size: 16px;
            }
            .form-control:focus {
                background-color: none;
            }
            #searchName {
                border: 1px solid #aaa;
                background-color: #fff;
                border-radius: 4px;
                padding-left: 15px;
                height: 35px;
                width: 100%;
                background-image: none;
                margin-top: 0px;
                font-size: 16px;
            }
        }
        #or {
            width: 10%;
            background-image: none;
            margin: 0 auto;
            text-align: center;
            padding-top: 5px;
        }
    }
    .form-group {
        .form-control {
            border: 1px solid #aaa;
            background-color: #fff;
            border-radius: 4px;
            padding-left: 15px;
            height: 35px;
            width: 100%;
            background-image: none;
            margin-top: 0px;
            font-size: 16px;
        }
        .exCourse {
            .multiselect-container.dropdown-menu {
                width: 100%;
                padding-left: 10px;
            }
        }
    }
    #sendPaidFees {
        margin-top: 25px;
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2147483647;
    padding-top: 35px;
    background-color: rgba(9, 9, 9, 0.70);
    margin-top: 25px;
}

.modal-backdrop.in {
    opacity: .26;
    z-index: -1;
}

.model_feesDetails {
    .close:focus,
    .close:hover {
        color: #d50000;
        text-decoration: none;
        cursor: pointer;
        opacity: 1;
    }
}