@font-face {
  font-family: "roboto_thin";
  src: url(../fonts/roboto.thin.ttf) format("truetype");
}
.dropdown_courses {
  position: fixed;
  padding: 10px;
  right: 220px;
  top: 63px;
  z-index: 1200000000;
  width: 600px;
  background: #e6f2d9;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(34, 34, 34, 0.76);
}
.dropdown_courses .mainCourseGroupTitle {
  font-size: 14px !important;
  font-weight: 800;
  color: #1d3504;
}
.dropdown_courses p {
  margin-bottom: 0;
}
.dropdown_courses p a {
  line-height: 8px !important;
  margin-bottom: 9px !important;
  padding-left: 8px;
  color: #335e04;
  font-size: .9em;
}
header.bmd-layout-header .navbar {
  background-color: #fff;
  height: 60px;
}
header.bmd-layout-header .navbar button.navbar-toggler {
  color: #3d5afe;
}
header.bmd-layout-header .navbar .nav.navbar-nav .img_logo {
  width: 150px;
}
header.bmd-layout-header .navbar .nav.navbar-nav .col-lg-6.col-xs-12.call {
  padding-top: 0;
  padding-left: 5px;
  text-align: center;
}
header.bmd-layout-header .navbar .nav.navbar-nav .col-lg-6.col-xs-12.call .display_call {
  padding-top: 35px;
  display: block;
}
header.bmd-layout-header .navbar .nav.navbar-nav .col-lg-6.col-xs-12.call .display_call .img_whatsapp {
  width: 25px;
}
header.bmd-layout-header .navbar .nav.navbar-nav .col-lg-6.col-xs-12.call .display_call span {
  color: #3F51B5;
  font-size: 14px;
}
header.bmd-layout-header .navbar .nav.navbar-nav .col-lg-6.col-xs-12.call .mob_call {
  text-align: center;
  display: none;
  margin-top: 0px;
}
header.bmd-layout-header ul.nav.nav-tabs .nav-tabs.nav-link.active {
  color: #009688;
  border-color: #07639d;
}
header.bmd-layout-header ul.nav.nav-tabs li .nav-link {
  padding: 1.02em .8575em;
}
header.bmd-layout-header ul.nav.nav-tabs li .nav-link:hover {
  border-color: #08639d;
}
header.bmd-layout-header ul.nav.nav-tabs li .nav-link.active {
  border-color: #08639d;
  color: #4e8910;
}
.bmd-layout-drawer header {
  padding: 0;
}
.bmd-layout-drawer header .mdl-layout-title {
  background: #6ab344;
  background: url(../images/logo/6.png) 100% 0 repeat;
  height: 160px;
}
.bmd-layout-drawer header .mdl-layout-title a {
  padding: 100px 8px 8px 10px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: .3s;
}
.bmd-layout-drawer header .mdl-layout-title a #companyLogo {
  width: 200px;
  bottom: 5px;
  padding: 100px 10px 10px;
}
.bmd-layout-drawer ul.list-group a.list-group-item {
  margin: 0;
  padding-right: 2.5rem;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #444;
  font-weight: 600;
}
.bmd-layout-drawer ul.list-group a.list-group-item img {
  width: 25px;
  margin-right: 1rem;
}
.bmd-layout-drawer ul.list-group a:hover {
  background-color: #aaa;
}
#dw-p1 header .user-view {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 0px;
  display: block;
  background: url(../images/38.jpg) center top 100%;
}
#dw-p1 header .user-view a img.circle {
  border: 2px solid #f78018;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
#dw-p1 header .user-view a label#userRoleLogin {
  padding-left: 5px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
#dw-p1 header .user-view ul.list-group {
  padding: 0px;
  margin: 10px auto;
}
#dw-p1 header .user-view ul.list-group a {
  color: #fff;
}
#dw-p1 header .user-view ul.list-group a #userNameLogin {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}
#dw-p1 header .user-view ul.list-group a #userEmailLogin {
  font-size: 18px;
}
#dw-p1 header .user-view ul.list-group a:hover {
  background-color: transparent;
}
#dw-p1 ul {
  margin: 0px;
  padding: 0px;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2147483647;
  padding-top: 35px;
  background-color: rgba(9, 9, 9, 0.7);
  margin-top: 25px;
}
.modal-backdrop.in {
  opacity: .26;
  z-index: -1;
}
