@color_1: #1d3504;
@color_2: #335e04;
@color_3: #3d5afe;
@color_4: #3F51B5;
@color_5: gray;
@color_6: #444;
@color_7: #818181;
@color_8: #000;
@color_9: #B71C1C;
@color_10: #fff;
@color_11: green;
@color_12: rgba(0, 0, 0, 0.87);
@color_13: #2793E8;
@color_14: #DDD;
@color_15: #7CB342;
@color_16: red;
@background_color_1: #fff;
@background_color_2: #7cb342;
@background_color_3: #aaa;
@background_color_4: #4db6ac;
@background_color_6: #6AB344;
@background_color_7: rgba(0, 0, 0, 0);
@background_color_8: #434751;
@background_color_9: transparent;
@background_color_10: rgba(9, 9, 9, 0.7);
@border_color_1: #7cb342;
@border_color_2: #686868;
@font-face {
    font-family: "roboto_thin";
    src: url(../fonts/roboto.thin.ttf) format("truetype");
}

.dropdown_courses {
    position: fixed;
    padding: 10px;
    right: 220px;
    top: 63px;
    z-index: 1200000000;
    width: 600px;
    background: #e6f2d9;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(34, 34, 34, 0.76);
    .mainCourseGroupTitle {
        font-size: 14px !important;
        font-weight: 800;
        color: @color_1;
    }
    p {
        margin-bottom: 0;
        a {
            line-height: 8px !important;
            margin-bottom: 9px !important;
            padding-left: 8px;
            color: @color_2;
            font-size: .9em;
        }
    }
}

header.bmd-layout-header {
    .navbar {
        background-color: @background_color_1;
        height: 60px;
        button.navbar-toggler {
            color: @color_3;
        }
        .nav.navbar-nav {
            .img_logo {
                width: 150px;
            }
            .col-lg-6.col-xs-12.call {
                padding-top: 0;
                padding-left: 5px;
                text-align: center;
                .display_call {
                    padding-top: 35px;
                    display: block;
                    .img_whatsapp {
                        width: 25px;
                    }
                    span {
                        color: @color_4;
                        font-size: 14px;
                    }
                }
                .mob_call {
                    text-align: center;
                    display: none;
                    margin-top: 0px; // a {
                    //     color: @color_4;
                    //     font-size: 12px;
                    //     text-decoration: none;
                    // }
                }
            }
        }
    }
    ul.nav.nav-tabs {
        .nav-tabs.nav-link.active {
            color: rgb(0, 150, 136);
            border-color: #07639d;
        }
        li {
            .nav-link {
                padding: 1.02em .8575em;
            }
            .nav-link:hover {
                border-color: #08639d;
            }
            .nav-link.active {
                border-color: #08639d;
                color: #4e8910;
            }
        } 
        // ul.nav.navbar-nav.pull-xs-right {
        //     background-color: @background_color_1;
        //     li {
        //         padding: 0;
        //         a {
        //             color: @color_5; // font-weight: 600;
        //             font-size: 14px;
        //             cursor: pointer;
        //             border-bottom: 5px solid transparent;
        //             text-transform: uppercase;
        //         }
        //         a:hover {
        //             background: #aaa;
        //         }
        //         a:active {
        //             background: #aaa;
        //         }
        //         a:focus {
        //             background: #aaa;
        //         }
        //     }
        // }
    }
}

.bmd-layout-drawer {
    header {
        padding: 0;
        .mdl-layout-title {
            background: #6ab344;
            background: url(../images/logo/6.png) 100% 0 repeat;
            height: 160px;
            a {
                padding: 100px 8px 8px 10px;
                text-decoration: none;
                font-size: 12px;
                color: @color_7;
                display: block;
                transition: .3s;
                #companyLogo {
                    width: 200px;
                    bottom: 5px;
                    padding: 100px 10px 10px;
                }
            }
        }
    }
    ul.list-group {
        a.list-group-item {
            margin: 0;
            padding-right: 2.5rem;
            padding-left: 1.5rem;
            text-decoration: none;
            color: @color_6;
            font-weight: 600;
            img {
                width: 25px;
                margin-right: 1rem;
            }
        }
        a {
            &:hover {
                background-color: @background_color_3;
            }
        }
    }
} // ------------------------------------------------
#dw-p1 {
    header {
        .user-view {
            position: relative;
            padding: 10px 20px;
            margin-bottom: 0px;
            display: block;
            background: url(../images/38.jpg) center top 100%;
            a {
                img.circle {
                    border: 2px solid #f78018; // border: 1px solid #aaa;
                    border-radius: 100%;
                    height: 100px;
                    width: 100px;
                }
                label#userRoleLogin {
                    padding-left: 5px;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
            ul.list-group {
                padding: 0px;
                margin: 10px auto;
                a {
                    color: #fff;
                    #userNameLogin {
                        font-size: 22px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                    #userEmailLogin {
                        font-size: 18px;
                    }
                }
                a:hover {
                    background-color: transparent;
                }
            }
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        a {}
    }
} // --------------------------------- Modal -----------------------------------
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2147483647;
    padding-top: 35px;
    background-color: rgba(9, 9, 9, 0.70);
    margin-top: 25px;
}

.modal-backdrop.in {
    opacity: .26;
    z-index: -1;
}