.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2147483647;
    padding-top: 35px;
    background-color: rgba(9, 9, 9, 0.70);
    margin-top: 25px;
}

.modal-backdrop.in {
    opacity: .26;
    z-index: -1;
}

.homeFolloups {
    .container-fluid {
        .card {
            margin: 10px auto;
            //margin: 10px auto;
            //padding: 10px 15px;
            padding: 10px 15px;
            ul.nav.nav-tabs {
                padding: 0px;
                margin: 0px;
                li.nav-item {
                    padding: 0px;
                    margin: 0px;
                    .nav-tabs .nav-link {
                        padding: 10px 10px;
                        font-size: .875rem;
                        font-weight: 500;
                        border: 0;
                    }
                    a.nav-link.active {
                        color: rgba(0, 0, 0, .87);
                        border-color: #4e8910;
                    }
                }
                #btnLebel {
                    text-align: right;
                    display: no ne;
                    float: right;
                    padding: 0px;
                    .row {
                        .col {
                            width: 155px;
                            margin: 10px 15px;
                            .bmd-form-group {
                                padding: 0px;
                                margin: 0px;
                                .searchIcon {
                                    padding-left: 5px;
                                    padding-right: 5px;
                                }
                                #searchName[type=text] {
                                    text-align: left;
                                    float: right;
                                    width: 100%;
                                    margin: 0 0;
                                    color: #07639d;
                                    background-image: none;
                                    position: absolute;
                                    padding-left: 25px;
                                    -webkit-transition: width 0.4s ease-in-out;
                                    transition: width 0.4s ease-in-out;
                                    border: 1px solid #aaa; // padding: 10px 10px;
                                    border-radius: 4px;
                                } // #searchName[type=text]:focus {
                                //     border-bottom: 1px solid blue;
                                //     width: 100%;
                                // }
                                #sDate {
                                    text-align: center;
                                    width: 100%;
                                    margin: 0 0;
                                    color: #07639d;
                                    background-image: none;
                                    border-bottom: 1px solid #aaa;
                                    position: absolute;
                                    padding-left: 15px;
                                }
                                #sDate:focus {
                                    border-bottom: 1px solid blue;
                                }
                                #eDate {
                                    text-align: center;
                                    width: 100%;
                                    margin: 0 0;
                                    color: #07639d;
                                    background-image: none;
                                    border-bottom: 1px solid #aaa;
                                    position: absolute;
                                    padding-left: 15px;
                                }
                                #eDate:focus {
                                    border-bottom: 1px solid blue;
                                }
                            }
                        }
                    }
                    label {
                        margin: 0 auto;
                        padding: 0 85px;
                    }
                    li.btnContainer {
                        div {
                            float: right;
                            position: relative;
                            padding: 0px;
                            margin: 0px 5px;
                            a.btn.btn-raised.btn-primary {
                                margin: 0px 0px;
                            }
                        }
                    }
                }
                #dateContainer {
                    text-align: right;
                    display: no ne;
                    float: right;
                    padding: 0px;
                    .row {
                        .col {
                            width: 120px;
                            margin: 10px 15px;
                            .bmd-form-group {
                                padding: 0px;
                                margin: 0px;
                                #sDate {
                                    text-align: center;
                                    width: 100%;
                                    margin: 0 0;
                                    color: #07639d;
                                    background-image: none;
                                    border-bottom: 1px solid #aaa;
                                    position: absolute;
                                    padding-left: 15px;
                                }
                                #sDate:focus {
                                    border-bottom: 1px solid blue;
                                }
                                #eDate {
                                    text-align: center;
                                    width: 100%;
                                    margin: 0 0;
                                    color: #07639d;
                                    background-image: none;
                                    border-bottom: 1px solid #aaa;
                                    position: absolute;
                                    padding-left: 15px;
                                }
                                #eDate:focus {
                                    border-bottom: 1px solid blue;
                                }
                            }
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .enquiry {
                        .row.tblHeading {
                            margin: 5px auto 0px auto;
                            padding: 10px 0px;
                            border-bottom: 1px solid #aaa;
                            color: #000;
                            font-weight: 600;
                        }
                        #tbldata {
                            padding: 0px 0px;
                            .row#rowId {
                                width: 100%;
                                cursor: pointer;
                                margin: 0 auto;
                                border-bottom: 1px solid #aaa;
                                padding: 10px 0px;
                                .col-lg-2 {
                                    word-wrap: break-word;
                                }
                            }
                            .row#rowId:hover {
                                background-color: rgba(170, 170, 170, 0.24);
                            }
                        }
                    }
                    .followDiv {
                        .row.tblHeading {
                            margin: 5px auto 0px auto;
                            padding: 10px 0px;
                            border-bottom: 1px solid #aaa;
                            color: #000;
                            font-weight: 600;
                        }
                        #tbldataFollow {
                            padding: 0px 0px;
                            .row#rowId {
                                width: 100%;
                                cursor: pointer;
                                margin: 0 auto;
                                border-bottom: 1px solid #aaa;
                                padding: 10px 0px;
                                .col-lg-2 {
                                    word-wrap: break-word;
                                }
                            }
                            .row#rowId:hover {
                                background-color: rgba(170, 170, 170, 0.24);
                            }
                        }
                    }
                    .enquiryContact {
                        .row.tblHeading {
                            margin: 5px auto 0px auto;
                            padding: 10px 0px;
                            border-bottom: 1px solid #aaa;
                            color: #000;
                            font-weight: 600;
                        }
                        #tbldataContact {
                            padding: 0px 0px;
                            .row#rowId {
                                width: 100%;
                                cursor: pointer;
                                margin: 0 auto;
                                border-bottom: 1px solid #aaa;
                                padding: 10px 0px;
                                .col-lg-2 {
                                    word-wrap: break-word;
                                }
                            }
                            .row#rowId:hover {
                                background-color: rgba(170, 170, 170, 0.24);
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-Enquiry {
        right: 25px;
        bottom: 15px;
        position: fixed;
    }
}

.crateNewModel {
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    padding: 15px 24px 0;
                    h4 {
                        color: #07639d;
                    }
                }
                .modal-body {
                    display: block;
                    text-align: center;
                    padding: 0px 24px;
                    form {
                        margin: 0px;
                        .row {
                            // border: 1px solid #aaa;
                            padding: 5px 0px;
                            .grpLebel {
                                text-align: right;
                            }
                            .form-group.grpLebel {
                                padding: 5px 0px;
                                margin: 0px 0px;
                            }
                            .form-group.grpInput.bmd-form-group {
                                padding: 5px 0px;
                                margin: 0px 0px;
                            }
                            .grpInput {
                                text-align: left;
                                input {
                                    border: 1px solid #aaa;
                                    border-radius: 4px;
                                    padding: 5px 10px;
                                }
                                input.form-control {
                                    border: 1px solid #aaa;
                                    border-radius: 4px;
                                    padding: 5px 5px;
                                    background-image: none;
                                    width: 90%;
                                    height: 35px;
                                }
                                .custom-select {
                                    width: 90%;
                                    border-radius: 4px;
                                    color: black;
                                }
                                .courseList {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    height: 35px;
                                    width: 90%;
                                    .btn-group {
                                        margin: 0px;
                                        border-radius: 4px;
                                    }
                                    .multiselect.dropdown-toggle.btn.btn-default {
                                        margin: 0px;
                                    }
                                    .multiselect-container.dropdown-menu {
                                        width: 100%;
                                        padding-left: 15px;
                                    }
                                }
                                #commentMsg {
                                    width: 90%;
                                    background: none;
                                }
                                .date_picker {
                                    #datepickerS {
                                        width: 90%;
                                    }
                                }
                            }
                        }
                    }
                }
                .modal-footer {
                    padding: 0 24px 15px; // border-top: 1px solid #e5e5e5;
                }
            }
        }
    }
}

.addFolloupModel {
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    padding: 15px 24px 0;
                    h4 {
                        color: #07639d;
                    }
                }
                .modal-body {
                    display: block;
                    text-align: center;
                    padding: 0px 24px;
                    .form-inline {
                        text-align: left;
                        margin-bottom: 0.125rem;
                        .form-group.lblctn {
                            padding: 10px 10px;
                            width: 27%;
                            text-align: left;
                            margin: 0px 40px;
                        }
                        .form-group.bmd-form-group {
                            padding: 10px 10px;
                            width: 35%;
                            .custom-select {
                                border-radius: 4px;
                                width: 100%;
                                color: black;
                            }
                        }
                        .form-group.btnctn {
                            padding: 10px 10px;
                            width: 10%;
                            text-align: center;
                        }
                    }
                    form {
                        margin: 0px;
                        .row {
                            padding: 5px 0px;
                            .grpLebel {
                                text-align: left;
                                margin: 0px 0px 0px 50px;
                            }
                            .form-group.grpLebel {
                                padding: 5px 0px; // margin: 0px 0px;
                            }
                            .form-group.grpInput.bmd-form-group {
                                padding: 5px 0px; // margin: 0px 0px;
                            }
                            .grpInput {
                                text-align: left;
                                margin: 0px 15px 0px 0px;
                                input {
                                    border: 1px solid #aaa;
                                    border-radius: 4px;
                                    padding: 5px 10px;
                                }
                                input.form-control {
                                    border: 1px solid #aaa;
                                    border-radius: 4px;
                                    padding: 5px 5px;
                                    background-image: none;
                                    width: 90%;
                                    height: 35px;
                                }
                                .custom-select {
                                    width: 90%;
                                    border-radius: 4px;
                                    color: black;
                                }
                                .courseListAdd {
                                    padding: 0px;
                                    border: 1px solid #aaa;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    height: 35px;
                                    width: 90%;
                                    .btn-group {
                                        margin: 0px;
                                        border-radius: 4px;
                                    }
                                    .multiselect.dropdown-toggle.btn.btn-default {
                                        margin: 0px;
                                    }
                                    .multiselect-container.dropdown-menu {
                                        width: 100%;
                                        padding-left: 15px;
                                    }
                                }
                                #commentMsgAdd {
                                    width: 90%;
                                    background: none;
                                }
                                .date_picker {
                                    #datePickerAdd {
                                        width: 90%;
                                    }
                                }
                            }
                        }
                    }
                }
                .modal-footer {
                    padding: 0 24px 15px; // border-top: 1px solid #e5e5e5;
                }
            }
        }
    }
}

.viewFolloupModel {
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .row {
                        .col-lg-5 {
                            .staticData {
                                min-height: 585px;
                                margin: 0px;
                                .row {
                                    // border: 1px solid #aaa;
                                    padding: 10px;
                                    .col-lg-5 {
                                        text-align: left;
                                        padding: 0px;
                                        p {
                                            font-weight: 500;
                                        }
                                    }
                                    .col-lg-7 {
                                        text-align: left; // padding: 0px;
                                        label#msg {
                                            // border: 1px solid #aaa;
                                            padding: 5px 10px;
                                            height: 105px;
                                            width: 85%;
                                            word-wrap: break-word;
                                        }
                                    }
                                }
                            }
                            .followupView {
                                .row.tblMain {
                                    width: 100%;
                                    text-align: left;
                                    margin: 0 auto;
                                    border-bottom: px solid #aaa;
                                    padding: 10px 0px;
                                    color: #3f51b5;
                                }
                                .row.tblHeading {
                                    width: 100%;
                                    text-align: left;
                                    margin: 0 auto;
                                    border-bottom: 1px solid #aaa;
                                    padding: 10px 0px;
                                }
                                #tbldataViewFollow {
                                    width: 100%;
                                    margin: 0 auto;
                                    padding: 10px 10px;
                                    .row#rowId {
                                        .col-lg-2 {
                                            word-wrap: break-word;
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                        }
                        .col-lg-7 {
                            .followUpData {
                                padding: 0px auto;
                                margin-bottom: 0px;
                                .form-inline {
                                    text-align: left;
                                    margin-bottom: 0.125rem;
                                    .form-group.lblctn {
                                        padding: 10px 10px;
                                        text-align: left;
                                        margin: 0px 15px;
                                    }
                                    .form-group.bmd-form-group {
                                        padding: 10px 10px;
                                        margin: 0px 0px 0px 0px;
                                        .custom-select {
                                            border-radius: 4px;
                                            width: 100%;
                                            color: #000000;
                                        }
                                    }
                                    .form-group.btnctn {
                                        padding: 0px 10px;
                                        text-align: center;
                                    }
                                }
                                #viewFollowUpForm {
                                    padding-top: 0px;
                                    margin-bottom: 0px;
                                    .row {
                                        text-align: left;
                                        .col-lg-5 {
                                            .form-group.grpLebel {
                                                padding: 5px 0px; // margin: 0px 0px;
                                                // margin: 0px 0px 0px 50px;
                                                margin: 0px 0px 0px 25px;
                                            }
                                        }
                                        .col-lg-7 {
                                            .form-group.grpInput.bmd-form-group {
                                                padding: 5px 0px;
                                                margin: 0px 0px;
                                                #mobileView,
                                                #emailView,
                                                #locationView,
                                                #datePickerView {
                                                    height: 35px;
                                                }
                                                input {
                                                    border: 1px solid #aaa;
                                                    border-radius: 4px;
                                                    padding: 5px 10px;
                                                    background-image: none; // height: 35px;
                                                }
                                            }
                                            .grpInput {
                                                .custom-select#followUpTypeView {
                                                    width: 100%;
                                                    border-radius: 4px;
                                                    color: #000000;
                                                }
                                                #batchTypeView {
                                                    width: 100%;
                                                }
                                                .courseListView {
                                                    padding: 0px;
                                                    border: 1px solid #aaa;
                                                    background-color: #fff;
                                                    border-radius: 4px;
                                                    height: 35px;
                                                    width: 100%;
                                                    .btn-group {
                                                        margin: 0px;
                                                        border-radius: 4px;
                                                    }
                                                    .multiselect.dropdown-toggle.btn.btn-default {
                                                        margin: 0px;
                                                    }
                                                    .multiselect-container.dropdown-menu {
                                                        width: 100%;
                                                        padding-left: 15px;
                                                    }
                                                }
                                                #commentMsgView {
                                                    width: 100%;
                                                    background-image: none;
                                                    padding: 10px 15px;
                                                }
                                                .date_picker {
                                                    #datePickerView {
                                                        width: 100%;
                                                        background-image: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}