.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2147483647;
  padding-top: 35px;
  background-color: rgba(9, 9, 9, 0.7);
  margin-top: 25px;
}
.modal-backdrop.in {
  opacity: .26;
  z-index: -1;
}
.homeFolloups .container-fluid .card {
  margin: 10px auto;
  padding: 10px 15px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs {
  padding: 0px;
  margin: 0px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs li.nav-item {
  padding: 0px;
  margin: 0px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs li.nav-item .nav-tabs .nav-link {
  padding: 10px 10px;
  font-size: .875rem;
  font-weight: 500;
  border: 0;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs li.nav-item a.nav-link.active {
  color: rgba(0, 0, 0, 0.87);
  border-color: #4e8910;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel {
  text-align: right;
  display: no ne;
  float: right;
  padding: 0px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col {
  width: 155px;
  margin: 10px 15px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col .bmd-form-group {
  padding: 0px;
  margin: 0px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col .bmd-form-group .searchIcon {
  padding-left: 5px;
  padding-right: 5px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col .bmd-form-group #searchName[type=text] {
  text-align: left;
  float: right;
  width: 100%;
  margin: 0 0;
  color: #07639d;
  background-image: none;
  position: absolute;
  padding-left: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col .bmd-form-group #sDate {
  text-align: center;
  width: 100%;
  margin: 0 0;
  color: #07639d;
  background-image: none;
  border-bottom: 1px solid #aaa;
  position: absolute;
  padding-left: 15px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col .bmd-form-group #sDate:focus {
  border-bottom: 1px solid blue;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col .bmd-form-group #eDate {
  text-align: center;
  width: 100%;
  margin: 0 0;
  color: #07639d;
  background-image: none;
  border-bottom: 1px solid #aaa;
  position: absolute;
  padding-left: 15px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel .row .col .bmd-form-group #eDate:focus {
  border-bottom: 1px solid blue;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel label {
  margin: 0 auto;
  padding: 0 85px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel li.btnContainer div {
  float: right;
  position: relative;
  padding: 0px;
  margin: 0px 5px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #btnLebel li.btnContainer div a.btn.btn-raised.btn-primary {
  margin: 0px 0px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #dateContainer {
  text-align: right;
  display: no ne;
  float: right;
  padding: 0px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #dateContainer .row .col {
  width: 120px;
  margin: 10px 15px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #dateContainer .row .col .bmd-form-group {
  padding: 0px;
  margin: 0px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #dateContainer .row .col .bmd-form-group #sDate {
  text-align: center;
  width: 100%;
  margin: 0 0;
  color: #07639d;
  background-image: none;
  border-bottom: 1px solid #aaa;
  position: absolute;
  padding-left: 15px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #dateContainer .row .col .bmd-form-group #sDate:focus {
  border-bottom: 1px solid blue;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #dateContainer .row .col .bmd-form-group #eDate {
  text-align: center;
  width: 100%;
  margin: 0 0;
  color: #07639d;
  background-image: none;
  border-bottom: 1px solid #aaa;
  position: absolute;
  padding-left: 15px;
}
.homeFolloups .container-fluid .card ul.nav.nav-tabs #dateContainer .row .col .bmd-form-group #eDate:focus {
  border-bottom: 1px solid blue;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiry .row.tblHeading {
  margin: 5px auto 0px auto;
  padding: 10px 0px;
  border-bottom: 1px solid #aaa;
  color: #000;
  font-weight: 600;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiry #tbldata {
  padding: 0px 0px;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiry #tbldata .row#rowId {
  width: 100%;
  cursor: pointer;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
  padding: 10px 0px;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiry #tbldata .row#rowId .col-lg-2 {
  word-wrap: break-word;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiry #tbldata .row#rowId:hover {
  background-color: rgba(170, 170, 170, 0.24);
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .followDiv .row.tblHeading {
  margin: 5px auto 0px auto;
  padding: 10px 0px;
  border-bottom: 1px solid #aaa;
  color: #000;
  font-weight: 600;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .followDiv #tbldataFollow {
  padding: 0px 0px;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .followDiv #tbldataFollow .row#rowId {
  width: 100%;
  cursor: pointer;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
  padding: 10px 0px;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .followDiv #tbldataFollow .row#rowId .col-lg-2 {
  word-wrap: break-word;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .followDiv #tbldataFollow .row#rowId:hover {
  background-color: rgba(170, 170, 170, 0.24);
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiryContact .row.tblHeading {
  margin: 5px auto 0px auto;
  padding: 10px 0px;
  border-bottom: 1px solid #aaa;
  color: #000;
  font-weight: 600;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiryContact #tbldataContact {
  padding: 0px 0px;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiryContact #tbldataContact .row#rowId {
  width: 100%;
  cursor: pointer;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
  padding: 10px 0px;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiryContact #tbldataContact .row#rowId .col-lg-2 {
  word-wrap: break-word;
}
.homeFolloups .container-fluid .card .tab-content .tab-pane .enquiryContact #tbldataContact .row#rowId:hover {
  background-color: rgba(170, 170, 170, 0.24);
}
.homeFolloups .btn-Enquiry {
  right: 25px;
  bottom: 15px;
  position: fixed;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-header {
  padding: 15px 24px 0;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-header h4 {
  color: #07639d;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body {
  display: block;
  text-align: center;
  padding: 0px 24px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form {
  margin: 0px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row {
  padding: 5px 0px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpLebel {
  text-align: right;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .form-group.grpLebel {
  padding: 5px 0px;
  margin: 0px 0px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .form-group.grpInput.bmd-form-group {
  padding: 5px 0px;
  margin: 0px 0px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput {
  text-align: left;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput input {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 10px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput input.form-control {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 5px;
  background-image: none;
  width: 90%;
  height: 35px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .custom-select {
  width: 90%;
  border-radius: 4px;
  color: black;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseList {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  height: 35px;
  width: 90%;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseList .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseList .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseList .multiselect-container.dropdown-menu {
  width: 100%;
  padding-left: 15px;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput #commentMsg {
  width: 90%;
  background: none;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .date_picker #datepickerS {
  width: 90%;
}
.crateNewModel .modal .modal-dialog .modal-content .modal-footer {
  padding: 0 24px 15px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-header {
  padding: 15px 24px 0;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-header h4 {
  color: #07639d;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body {
  display: block;
  text-align: center;
  padding: 0px 24px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body .form-inline {
  text-align: left;
  margin-bottom: 0.125rem;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body .form-inline .form-group.lblctn {
  padding: 10px 10px;
  width: 27%;
  text-align: left;
  margin: 0px 40px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body .form-inline .form-group.bmd-form-group {
  padding: 10px 10px;
  width: 35%;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body .form-inline .form-group.bmd-form-group .custom-select {
  border-radius: 4px;
  width: 100%;
  color: black;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body .form-inline .form-group.btnctn {
  padding: 10px 10px;
  width: 10%;
  text-align: center;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form {
  margin: 0px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row {
  padding: 5px 0px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpLebel {
  text-align: left;
  margin: 0px 0px 0px 50px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .form-group.grpLebel {
  padding: 5px 0px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .form-group.grpInput.bmd-form-group {
  padding: 5px 0px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput {
  text-align: left;
  margin: 0px 15px 0px 0px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput input {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 10px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput input.form-control {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 5px;
  background-image: none;
  width: 90%;
  height: 35px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .custom-select {
  width: 90%;
  border-radius: 4px;
  color: black;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseListAdd {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  height: 35px;
  width: 90%;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseListAdd .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseListAdd .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .courseListAdd .multiselect-container.dropdown-menu {
  width: 100%;
  padding-left: 15px;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput #commentMsgAdd {
  width: 90%;
  background: none;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-body form .row .grpInput .date_picker #datePickerAdd {
  width: 90%;
}
.addFolloupModel .modal .modal-dialog .modal-content .modal-footer {
  padding: 0 24px 15px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .staticData {
  min-height: 585px;
  margin: 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .staticData .row {
  padding: 10px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .staticData .row .col-lg-5 {
  text-align: left;
  padding: 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .staticData .row .col-lg-5 p {
  font-weight: 500;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .staticData .row .col-lg-7 {
  text-align: left;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .staticData .row .col-lg-7 label#msg {
  padding: 5px 10px;
  height: 105px;
  width: 85%;
  word-wrap: break-word;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .followupView .row.tblMain {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  border-bottom: px solid #aaa;
  padding: 10px 0px;
  color: #3f51b5;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .followupView .row.tblHeading {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
  padding: 10px 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .followupView #tbldataViewFollow {
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-5 .followupView #tbldataViewFollow .row#rowId .col-lg-2 {
  word-wrap: break-word;
  text-align: left;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData {
  padding: 0px auto;
  margin-bottom: 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData .form-inline {
  text-align: left;
  margin-bottom: 0.125rem;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData .form-inline .form-group.lblctn {
  padding: 10px 10px;
  text-align: left;
  margin: 0px 15px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData .form-inline .form-group.bmd-form-group {
  padding: 10px 10px;
  margin: 0px 0px 0px 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData .form-inline .form-group.bmd-form-group .custom-select {
  border-radius: 4px;
  width: 100%;
  color: #000000;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData .form-inline .form-group.btnctn {
  padding: 0px 10px;
  text-align: center;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm {
  padding-top: 0px;
  margin-bottom: 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row {
  text-align: left;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-5 .form-group.grpLebel {
  padding: 5px 0px;
  margin: 0px 0px 0px 25px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .form-group.grpInput.bmd-form-group {
  padding: 5px 0px;
  margin: 0px 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .form-group.grpInput.bmd-form-group #mobileView,
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .form-group.grpInput.bmd-form-group #emailView,
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .form-group.grpInput.bmd-form-group #locationView,
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .form-group.grpInput.bmd-form-group #datePickerView {
  height: 35px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .form-group.grpInput.bmd-form-group input {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 10px;
  background-image: none;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput .custom-select#followUpTypeView {
  width: 100%;
  border-radius: 4px;
  color: #000000;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput #batchTypeView {
  width: 100%;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput .courseListView {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  height: 35px;
  width: 100%;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput .courseListView .btn-group {
  margin: 0px;
  border-radius: 4px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput .courseListView .multiselect.dropdown-toggle.btn.btn-default {
  margin: 0px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput .courseListView .multiselect-container.dropdown-menu {
  width: 100%;
  padding-left: 15px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput #commentMsgView {
  width: 100%;
  background-image: none;
  padding: 10px 15px;
}
.viewFolloupModel .modal .modal-dialog .modal-content .modal-body .row .col-lg-7 .followUpData #viewFollowUpForm .row .col-lg-7 .grpInput .date_picker #datePickerView {
  width: 100%;
  background-image: none;
}
