.loginCard {
    h2 {
        text-align: center;
        color: #3f51b5;
        padding: 25px;
    }
    .card.card-block {
        margin: 0% 30%;
        h5 {
            color: #3f51b5;
        }
        .form-signin {
            max-width: 25rem;
            padding: 2rem 1rem 1rem 1rem;
            .form-group.bmd-form-group {
                position: relative;
                padding-top: 0.75rem;
                #email {
                    border: 1px solid #aaa;
                    border-radius: 4px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-image: none;
                    margin: 0 auto;
                    height: 40px;
                }
                #emailPass {
                    border: 1px solid #aaa;
                    border-radius: 4px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-image: none;
                    margin: 0 auto;
                    height: 40px;
                }
                .bmd-help {
                    color: red;
                }
                .bmd-help,
                .text-muted {
                    color: red!important;
                }
            }
            #loginClick {
                margin-top: 15px;
                color: #3f51b5;
                background-color: inherit;
                border-color: #3f51b5;
                float: right;
            }
        }
    }
}

.success_replay {
    .modal.fade {
        margin-top: 50px;
        .modal-body {
            display: block;
            text-align: center;
            p.pHeadig {
                text-align: center;
                color: green;
            }
            p.pSubHeadig {
                text-align: center;
                color: red;
            }
            .btn-login {
                width: 25%;
                text-align: center;
            }
        }
    }
}