.loginCard h2 {
  text-align: center;
  color: #3f51b5;
  padding: 25px;
}
.loginCard .card.card-block {
  margin: 0% 30%;
}
.loginCard .card.card-block h5 {
  color: #3f51b5;
}
.loginCard .card.card-block .form-signin {
  max-width: 25rem;
  padding: 2rem 1rem 1rem 1rem;
}
.loginCard .card.card-block .form-signin .form-group.bmd-form-group {
  position: relative;
  padding-top: 0.75rem;
}
.loginCard .card.card-block .form-signin .form-group.bmd-form-group #email {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: none;
  margin: 0 auto;
  height: 40px;
}
.loginCard .card.card-block .form-signin .form-group.bmd-form-group #emailPass {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: none;
  margin: 0 auto;
  height: 40px;
}
.loginCard .card.card-block .form-signin .form-group.bmd-form-group .bmd-help {
  color: red;
}
.loginCard .card.card-block .form-signin .form-group.bmd-form-group .bmd-help,
.loginCard .card.card-block .form-signin .form-group.bmd-form-group .text-muted {
  color: red!important;
}
.loginCard .card.card-block .form-signin #loginClick {
  margin-top: 15px;
  color: #3f51b5;
  background-color: inherit;
  border-color: #3f51b5;
  float: right;
}
.success_replay .modal.fade {
  margin-top: 50px;
}
.success_replay .modal.fade .modal-body {
  display: block;
  text-align: center;
}
.success_replay .modal.fade .modal-body p.pHeadig {
  text-align: center;
  color: green;
}
.success_replay .modal.fade .modal-body p.pSubHeadig {
  text-align: center;
  color: red;
}
.success_replay .modal.fade .modal-body .btn-login {
  width: 25%;
  text-align: center;
}
