.card {
    padding-bottom: 10px;
    .imgContainer {
        .dateReciptsNo {
            padding: 30px 10px 10px 100px; // padding: 30px 100px;
            margin: 0 auto;
            font-weight: 600;
            #receiptDate {
                font-weight: 400;
            }
            #receiptNo {
                font-weight: 400;
            }
            input {
                border: none;
            }
        }
    }
}

.formCtn {
    .row {
        .col-lg-12 {
            .row {
                margin: 5px 0px;
                padding: 0px 10px;
                .col-lg-12 {
                    #sFullName,
                    #branch {
                        width: 78%;
                    }
                    .heading {
                        color: #000;
                        font-size: 16px;
                        text-align: left;
                        margin-bottom: 0px;
                        font-weight: 600;
                    }
                    #amount,
                    #amount1 {
                        border: 1px solid #aaa;
                        width: 69%;
                        padding-left: 5px;
                    }
                    #sCourse {
                        // width: 65%;
                        width: auto;
                        word-break: break-word;
                    }
                    .row.paymentMode {
                        margin: 0px 0px 5px;
                        font-weight: 600;
                    }
                    input#totalFees,
                    input#paidFees,
                    input#remainingFees {
                        width: 55%;
                        border: none;
                    }
                    input#totalFees1,
                    input#paidFees1,
                    input#remainingFees1 {
                        width: 55%;
                        border: none;
                    }
                    p {
                        font-size: 12px;
                        text-align: center;
                        color: brown;
                    }
                }
                #studentSign,
                #authorizedSign {
                    margin-top: 25px;
                }
            }
        }
        input {
            border: none; // border-bottom: 1px solid;
        }
        label {
            font-weight: 600;
        }
    }
}

#receiptDate1 {
    font-weight: 400;
}

#receiptNo1 {
    font-weight: 400;
}

.table thead th {
    font-size: .95rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
    border-top-width: 0;
    border-bottom-width: 1px;
}