.card {
  padding-bottom: 10px;
}
.card .imgContainer .dateReciptsNo {
  padding: 30px 10px 10px 100px;
  margin: 0 auto;
  font-weight: 600;
}
.card .imgContainer .dateReciptsNo #receiptDate {
  font-weight: 400;
}
.card .imgContainer .dateReciptsNo #receiptNo {
  font-weight: 400;
}
.card .imgContainer .dateReciptsNo input {
  border: none;
}
.formCtn .row .col-lg-12 .row {
  margin: 5px 0px;
  padding: 0px 10px;
}
.formCtn .row .col-lg-12 .row .col-lg-12 #sFullName,
.formCtn .row .col-lg-12 .row .col-lg-12 #branch {
  width: 78%;
}
.formCtn .row .col-lg-12 .row .col-lg-12 .heading {
  color: #000;
  font-size: 16px;
  text-align: left;
  margin-bottom: 0px;
  font-weight: 600;
}
.formCtn .row .col-lg-12 .row .col-lg-12 #amount,
.formCtn .row .col-lg-12 .row .col-lg-12 #amount1 {
  border: 1px solid #aaa;
  width: 69%;
  padding-left: 5px;
}
.formCtn .row .col-lg-12 .row .col-lg-12 #sCourse {
  width: auto;
  word-break: break-word;
}
.formCtn .row .col-lg-12 .row .col-lg-12 .row.paymentMode {
  margin: 0px 0px 5px;
  font-weight: 600;
}
.formCtn .row .col-lg-12 .row .col-lg-12 input#totalFees,
.formCtn .row .col-lg-12 .row .col-lg-12 input#paidFees,
.formCtn .row .col-lg-12 .row .col-lg-12 input#remainingFees {
  width: 55%;
  border: none;
}
.formCtn .row .col-lg-12 .row .col-lg-12 input#totalFees1,
.formCtn .row .col-lg-12 .row .col-lg-12 input#paidFees1,
.formCtn .row .col-lg-12 .row .col-lg-12 input#remainingFees1 {
  width: 55%;
  border: none;
}
.formCtn .row .col-lg-12 .row .col-lg-12 p {
  font-size: 12px;
  text-align: center;
  color: brown;
}
.formCtn .row .col-lg-12 .row #studentSign,
.formCtn .row .col-lg-12 .row #authorizedSign {
  margin-top: 25px;
}
.formCtn .row input {
  border: none;
}
.formCtn .row label {
  font-weight: 600;
}
#receiptDate1 {
  font-weight: 400;
}
#receiptNo1 {
  font-weight: 400;
}
.table thead th {
  font-size: .95rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  border-top-width: 0;
  border-bottom-width: 1px;
}
