.userContainer .userCard .card {
  margin: 15px auto;
  padding: 10px 30px;
}
.userContainer .userCard .card h2 {
  text-align: center;
  color: #07639d;
  font-size: 20px;
}
.userContainer .userCard .card #formLogin .form-group {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.userContainer .userCard .card #formLogin .form-group .form-control {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 15px;
  height: 35px;
  background-image: none;
  margin-top: 20px;
  font-size: 16px;
}
.userContainer .userCard .card #formLogin #sendEnqBtn {
  margin-top: 25px;
}
.bmd-help.errorMessage {
  color: black !important;
}
