.userContainer {
    .userCard {
        .card {
            margin: 15px auto;
            padding: 10px 30px;
            h2 {
                text-align: center;
                color: #07639d;
                font-size: 20px;
            }
            #formLogin {
                .form-group {
                    width: 100%;
                    padding: 0px;
                    margin: 0px;
                    .form-control {
                        border: 1px solid #aaa;
                        background-color: #fff;
                        border-radius: 4px;
                        padding-left: 15px;
                        height: 35px;
                        background-image: none;
                        margin-top: 20px;
                        font-size: 16px;
                    }
                }
                #sendEnqBtn {
                    margin-top: 25px;
                }
            }
        }
    }
}

// .errorMessage {
//     height: 20px;
//     font-size: 12px;
// }
// form {
//     padding-bottom: 0px;
//     .bmd-form-group {
//         position: relative;
//         padding-top: 0.75rem;
//     }
// }
// .form-control {
//     background-image: none;
// }
// .bmd-form-group .bmd-help {
//     margin-top: 0;
//     font-size: .75rem;
//     color: red;
// }
// .bmd-form-group .is-focused .bmd-help {
//     margin-top: 0;
//     font-size: .75rem;
//     color: red;
// }
.bmd-help.errorMessage {
    color: black !important;
}